
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: darkgray;
}

a {
  color: red;
}

main {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: goldenrod;  
}

header a, header h1, header h3{
  padding: 0 4%;
}

header >a {
  background-color: goldenrod;
  float: right;
}

header h1 {
  color: white;
  font-size: 5em;
  clear:both;
}

header h3 {
  color: black;
  font-size: .8em;
  padding-bottom: 1em;
}

nav{
  padding: 1em .45em;
  background-color: lightgray;
}

nav a{
  width: 16%; /*spacing in nav bar options*/
  color: darkorange;
  font-weight: 500;
}

article {
  width: 65%;
  float: left;
  padding: 1.5% 0 4%;
  margin: 0 1%;
}

article section {
  width: 95%;
  margin-left: 2%;
  margin-top: 4%;
}

aside {
  width: 30%;
  display:inline-block;
  border: 2px solid grey;
  margin: 5% 0;
}

aside section {
  width: 90%;
  /*background-color: red;*/
  padding: 1% 2%;
  margin: 0% auto;
  text-align: center;
}

footer {
  clear:both;
  color: black;
  background-color: darkgray;
  width: 80%;
  margin: 1% auto;
}

footer h6 {
  margin-top: .5%;
  text-align: center;
}